body {
  background-color: rgb(8, 0, 12);
}

html {
  font-size: 62.5%; /* 10 px*/
}

/* ======= CABEÇALHO ======== */

.cabecalho {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.cabecalho h1 {
  color: white;
  font-size: 4rem;
}

/* =========================== */

