body {
  background-color: rgb(8, 0, 12);
}

html {
  font-size: 62.5%; /* 10 px*/
}

/* ======= CABEÇALHO ======== */

.cabecalho {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 10px;
}

.cabecalho h1 {
  color: white;
  font-size: 4rem;
  text-align: center;
}

/* =========================== */

/* SEÇÃO CARDS*/
section {
  display: flex;
  justify-content: center; /* alinha o container no centro */
}

.container-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 960px;
  margin: 0 30px;
}

.container-cards .card {
  display: flex;
  flex-direction: column;
  flex: 0 1 300px;
  background-color: rgb(236, 235, 235);
  overflow: hidden;
  border-radius: 8px;
  transition: transform .2s ease-in-out;
}

.container-cards .card:hover {
  transform: scale(1.02);
}

.container-cards .card .link-saiba-mais {
  align-self: flex-start;
  margin: auto 20px 20px 20px;
  padding: 10px;
  border-radius: 2px;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  background-color: rgb(8, 0, 12);
  transition: transform .4s ease-in-out;
}

.container-cards .card .link-saiba-mais:hover {
  transform: translateY(-5px);
}

.container-cards .card .box-imagem-card {
  height: 150px;
}

.container-cards .card .box-imagem-card img {
  object-fit: cover;
  height: 100%;
  filter: grayscale(100%);
  transition: .3s ease-out;
}

.container-cards .card .box-imagem-card img:hover {
  filter: grayscale(0);
}

.container-cards .card .info-card {
  padding: 20px;
}

.container-cards .card .info-card h2 {
  font-size: 2.3rem;
  margin-bottom: 10px;
}

.container-cards .card .info-card h2::before {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: black;
}

.container-cards .card .info-card p {
  text-align: justify;
  font-size: 1.2rem;
}
/* =========================== */

/* RODAPEÉ */
.rodape {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  align-items: center;
  padding: 40px 30px;
  margin-top: 90px;
}

.rodape span {
  font-weight: 600;
  font-size: 1.5rem ;
  text-align: center;
}

.rodape .icones-redes-sociais {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.rodape .icones-redes-sociais .icone-rede-social {
  margin: 0 5px;
  transition: transform .3s ease-in-out;
}

.rodape .icones-redes-sociais .icone-rede-social:hover {
  transform: scale(1.2);
}

.rodape .icones-redes-sociais .icone-rede-social img {
  width: 40px;
}
/* =========================== */

/* MEDIA QUERIES */

@media (max-width: 1024px) { 
  .container-cards {
    margin: 0 60px;
  }
}

@media (max-width: 768px) { 
  html {
    font-size: 60%;
  }

  .rodape .icones-redes-sociais {
    flex-direction: column;
    width: 100%;
  }

  .rodape .icones-redes-sociais .icone-rede-social {
    padding: 0 50px;
  }
}


@media (max-width: 425px) { 
  html {
    font-size: 56%;
  }

  .container-cards {
    margin: 0 10px;
  }
}

@media (max-width: 375px) { 
  html {
    font-size: 48%;
  }
}

@media (max-width: 320px) { 
  html {
    font-size: 45%;
  }

  .container-cards .card {
    flex: 0 1 240px;
  }
}
/* =========================== */

